DATABASE_URL="postgresql://catena:senha@postgres:5432/catena?schema=public"
CLICKUP_API_KEY="pk_xxx"
CLICKUP_WORKSPACE_ID="9013729897"
CLICKUP_LIST_HOLDINGS="901312469530"
CLICKUP_LIST_SEMINARIOS="901318623881"
CLICKUP_LIST_SESSAO_VIAB="901318623918"
CLICKUP_LIST_PROJETO_ESTRUTURAL="901318623960"
CLICKUP_LIST_GESTAO_CLIENTES="901312834773"
CLICKUP_SPACE_OPERACOES="90137977918"
PORT=3001
SYNC_TOKEN="troque"
